body {
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

#logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    margin-left: 200px;
}
.nav-bar{
    background-color: #1F2937;
    color: #e5e7ebb6;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.links {
    list-style-type: none;
    margin-left: 300px;
    margin-right: 100px;
    padding: 0;
    display: flex;
}

.link-item {
    padding: 14px 16px;
    font-size: 18px;
}

.container-1{
    background-color: #1F2937;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
}

.hero-container{
    width: 475px;
    margin-right: 25px;
}

#hero-title {
    font-size: 48px;
    margin: 0;
    color: #F9FAF8;
    font-weight: 900;
}

#hero-text {
    font-size: 18px;
    color: #e5e7eb81;
    margin: 0;
}

#image-placeholder {
    background-color: #e5e7eb99;
    width: 500px;
    height: 220px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
}

.hero-container button {
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 5px;
    border: 1px solid black;
}

.container-2{
    background-color: #e5e7ebae;
    padding-top: 35px;
    padding-bottom: 50px;
}

.box-containers{
    display: flex;
    justify-content: center;
}

.box{
    width: 150px;
    margin: 20px;
}

.square {
    width: 150px;
    height: 150px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

.information-text{
    font-size: 36px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #1F2937;
    text-align: center;
    font-weight: 900;
}

.subtext{
    text-align: center;
    margin-top: 5px;
}

.container-3{
    height: 420px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-3-content{
    width: 750px;
}

#quote-text{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    margin-bottom: 0;
}

#author{
    font-size: 20px;
    text-align: right;
    margin-top: 0;
}

.container-4{
    height: 350px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.container-4-inner{
    background-color: #3882F6;
    width: 900px;
    height: 125px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 15px 40px;
    border-radius: 5px
}

.call-to-action{
    margin-left: 50px;
}

.call-to-action h3{
    margin: 0;
    color: white;
}

.call-to-action p{
    margin: 0;
    color: white;
    font-weight: 10;
}

.container-4-inner button{
    padding: 5px 20px;
    border-radius: 5px;
    margin-right: 60px;
    border: 1px solid black;
    background-color: #3882F6;
    color: white;
    border-color: white;
}

footer{
    background-color: #1F2937;
    color: #E5E7EB;
    margin: 0;
    height: 80px;
    justify-content: center;
    align-items: center;
    display: flex;
}